.border {
  border: solid 1px black;
}

.inline {
  display: inline;
}

.square {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}

.padding {
  padding: 50px;
}

.margin {
  margin: 50px;
}

.parent {
  position: relative;
}

.children {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.pos {
  background-color: blanchedalmond;
  position: absolute;
  top: 20px;
  left: 20px;
}
